@import "tailwindcss";

@theme {
  --color-black: #000;
  --color-white: #fff;
  --color-white-100: #FCFCFD;
  --color-white-200: #F7F7F8;
  --color-white-300: #F1F1F3;
  --color-white-400: #E4E4E7;
  --color-purple-99: #FBFAFF;
  --color-purple-97: #F4F0FE;
  --color-purple-95: #EDE7FE;
  --color-purple-90: #DBCEFD;
  --color-purple-75: #A685FA;
  --color-purple-70: #946CF9;
  --color-purple-65: #8254F8;
  --color-purple-60: #703BF7;
  --color-grey-60: #999999;
  --color-grey-50: #808080;
  --color-grey-40: #666666;
  --color-grey-30: #4D4D4D;
  --color-grey-20: #333333;
  --color-grey-15: #262626;
  --color-grey-10: #1A1A1A;
  --color-grey-08: #141414;
  --color-dropshadow: #191919;
}

@utility flex-between {
  @apply flex flex-row justify-between items-center;
}
@utility flex-start {
  @apply flex flex-row justify-start items-center;
}
@utility flex-around {
  @apply flex flex-row justify-around items-center;
}
@utility flex-between-start {
  @apply flex flex-row justify-between items-start;
}
@utility flex-around-start {
  @apply flex flex-row justify-around items-start;
}
@utility flex-between-reverse {
  @apply flex-row-reverse justify-between items-center;
}
@utility flex-center-reverse {
  @apply flex-row-reverse justify-center items-center;
}
@utility flex-start-start-reverse {
  @apply flex-row-reverse justify-start items-start;
}
@utility flex-center {
  @apply flex flex-row justify-center items-center;
}
@utility flex-col-center {
  @apply flex flex-col justify-center items-center;
}
@utility flex-col-center-reverse {
  @apply flex flex-col-reverse justify-center items-center;
}
@utility flex-col-between {
  @apply flex flex-col justify-between items-center;
}
@utility flex-col-between-start {
  @apply flex flex-col justify-between items-start;
}
@utility flex-col-start {
  @apply flex flex-col justify-between items-start;
}
@utility flex-col-start-start {
  @apply flex flex-col justify-start items-start;
}
@utility flex-col-center-start {
  @apply flex flex-col justify-center items-start;
}
@utility flex-col-center-start {
  @apply flex flex-col justify-center items-start;
}
@utility font-h1 {
  @apply text-white leading-[1.2] font-semibold text-[28px] lg:text-[46px] xl:text-6xl
}
@utility font-h2 {
  @apply text-white leading-[1.5] font-semibold text-[28px] lg:text-[38px] xl:text-5xl
}
@utility font-h3 {
  @apply text-white leading-[1.5] font-semibold text-[24px] lg:text-[30px] xl:text-[40px]
}
@utility font-cards-sm {
  @apply text-white leading-[1.5] font-medium text-lg lg:text-xl xl:text-2xl
}
@utility font-cards-md {
  @apply text-white leading-[1.5] font-semibold text-xl lg:text-2xl xl:text-3xl
}
@utility font-double {
  @apply text-grey-60 leading-[1.5] font-medium text-xs lg:text-sm xl:text-lg
}
@utility font-paragraph {
  @apply leading-[1.5] font-medium text-sm lg:text-base xl:text-lg
}
@utility font-paragraph-md {
  @apply leading-[1.5] font-medium text-base lg:text-lg xl:text-xl
}

@layer utilities {
  @media (min-width: 724px) and (max-width: 1023px) {
    .tablet-only {
      display: block;
    }
  }

  .tablet-only {
    display: none;
  }
}

@utility stepCard {
  @apply border-1 border-grey-15 rounded-bl-2xl rounded-tr-2xl rounded-br-2xl
}
@utility doubleBorder {
  @apply rounded-xl shadow-[0_0_0px_4px_rgba(49,49,49,0.4)] border-2 border-grey-15
}




